@model IEnumerable<CS310_SRS_App.Model.Prescription>

@if (Context.Session.GetString("SessionKeyRole") == "Patient")
{
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }

    @if (Model != null && Model.Any())
    {
        <h2>My Prescriptions</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Prescription Name</th>
                    <th>Date Prescribed</th>
                    <th>Expiration</th>
                    <th>Pharmacy</th>
                    <th>Dose</th>
                    <th>Dosage Form</th>
                    @*<th>Quantity</th>*@
                    <th>Directions For Use</th>
                    <th>Refills</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prescription in Model)
                {
                    <tr>
                        <td>@prescription.PrescriptionName</td>
                        <td>@(prescription.DatePrescribed.HasValue ? prescription.DatePrescribed.Value.ToString("MM/dd/yyyy") : "N/A")</td>
                        <td>@(prescription.Expiration.HasValue ? prescription.Expiration.Value.ToString("MM/dd/yyyy") : "N/A")</td>
                        <td>@prescription.Pharmacy</td>
                        <td>@prescription.Dose</td>
                        <td>@prescription.DosageForm</td>
                        @*<td>@prescription.Quantity</td>*@
                        <td>@prescription.DirectionsForUse</td>
                        <td>@(prescription.Refills.HasValue && prescription.Refills > 0 ? prescription.Refills.Value.ToString() : "None")</td>
                        
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Prescription added.</p>
    }
}
else
{
    <p>Prescription added.</p>
}
